<section class="row align-items-center">
  <div class="col-md-6 col-sm-12">
    <h1
      style="
        font-size: 70px !important;
        font-variation-settings: 'wght' 600, 'wdth' 190;
      "
    >
      Dropper
    </h1>
    <br />
    <p class="lh-lg">
      Tired of complex cloud solutions and concerned about your privacy? And no
      solutions is proper? Introducing Dropper! Dropper is the ultimate
      file-dropping tool hosted within this private home network. With this
      user-friendly system, share and drop files from devices connected to this
      home network without compromising your data's privacy.
      <br />
      <br />
      <span style="font-variation-settings: 'wght' 600, 'wdth' 130"
        >Get started!</span
      >
      <br />Click on upload files to upload files. To view all the files that
      are uploaded, click on view files. To switch between light and dark mode,
      click on the moon icon or the sun icon.
    </p>
  </div>
  <div class="col-md-6 col-sm-12 abstract-image-container">
    <img class="circles" src="../../../assets/circles.svg" alt="" />
  </div>
</section>
